<div class="main-content show" id="view-facturacion">
  <!-- Topnav -->
  <nav
    class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search form -->
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center ml-auto mr-md-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link pr-0"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img
                    alt="Image placeholder"
                    src="assets/img/brand/systemusers_104569.png"
                  />
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold"
                    ><%= user.nombreUsuario %>
                  </span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Facturación</h6>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row"></div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- DATOS GENERALES DE FACTURA -->
      <div class="col-xl-10">
        <div class="card bg-white">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-black text-uppercase ls-1 mb-1">
                  Agregar datos de factura
                </h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="" id="form-datos-facturacion" class="form-group row">
              <input
                type="text"
                class="form-control col-2"
                name="numero"
                id="numeroFactura"
                placeholder="N° Factura"
                style="margin-top: 6px"
                disabled
              />
              <input
                type="date"
                name="fecha"
                class="form-control col-3"
                id="fechaFactura"
                placeholder=""
                style="margin-top: 6px"
              />

              <input
                type="text"
                class="form-control col-3"
                name="comprador"
                id=""
                placeholder="Comprador"
                style="margin-top: 6px"
              />

              <select
                name="formaPago"
                class="form-control col-3"
                id=""
                style="margin-top: 6px"
                title="forma de pago"
              >
                <option value="1">Efectivo</option>
           
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA DE DETALLES DE FACTURA -->
    <div class="row">
      <div class="col-md-12">
        <div class="card-header">
          <div class="col">
            <h6 class="text-black text-uppercase ls-1 mb-1">
              Datos Generales de facturas
            </h6>
          </div>
          <!-- FORMULARIO PARA CODIGO DE BARRA -->
          <div class="card-body">
            <form action="" id="form-facturacion" class="form-group row">
              <input
                type="varchar"
                class="form-control col-3"
                name="codigoBarraFacturacion"
                id=""
                placeholder="Codigo de barra"
              />
              <button
                type="button"
                id="btnAgregarProductoFactura"
                class="btn-1 btn btn-xs btn btn-secondary"
              >
                Agregar
              </button>
              <button
                type="button"
                id="btnMostrarProductosFacturacion"
                class="btn-1 btn btn-xs btn btn-secondary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                Buscar
              </button>
              <button
                type="button"
    id="btnLimpiarFactura"
                class="btn-1 btn btn-xs btn btn-secondary"
              >
                Limpiar
              </button>
              <button
                type="button"
                id="btnGuardarFactura"
                class="btn-1 btn btn-xs btn btn-success"
              >
                Cobrar e Imprimir
              </button>
            </form>
            <div>Total C$ <b id="totalFactura">0.00</b></div>
          </div>
          <div class="table-responsive">
            <table
              id="example"
              class="table table-striped table-bordered"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Acciones</th>
                  <th>Cod Barra</th>
                  <th>Cantidad</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Importe</th>
                </tr>
              </thead>
              <tbody id="table-facturacion"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <%- include('./pie.html') %>
  </div>
</div>
<style>
  .form-group input {
    margin: 5px;
  }

  .btn-1 {
    height: 40px;
    top: 10px;
  }

  .btn1-1 {
    left: 5px;
    height: 40px;
    top: 10px;
  }
</style>
