<div class="main-content hide" id="view-perfil">
  <!-- Topnav -->
  <nav
    class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search form -->
        
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center ml-auto mr-md-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link pr-0"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img
                    alt="Image placeholder"
                    src="assets/img/brand/systemusers_104569.png"
                  />
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold">
                    <h6 class="text-white text-uppercase ls-1 mb-2">
                      <%= user.nombreUsuario %> 
                    </h6>
                  </span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Perfil de tienda</h6>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row"></div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- DATOS GENERALES DE FACTURA -->
      <div class="col-xl-10">
        <div class="card bg-white">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-black text-uppercase ls-1 mb-1">
                  Crear prefil de tienda
                </h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <form action="" id="form-perfil" class="col-5">
                <div class="form-group">
                  <input
                    type="text"
                    name="nombre"
                    id="txtNombrePerfil"
                    class="form-control"
                    placeholder="Nombre de tienda"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="direccion"
                    id="txtDireccionPerfil"
                    class="form-control"
                    placeholder="Direcciòn"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="telefono"
                    id="txtTelefonoPerfil"
                    class="form-control"
                    placeholder="Teléfono"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="mensaje"
                    id="txtMensajePerfil"
                    class="form-control"
                    placeholder="Mensaje de pie de ticket"
                  />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    Crear
                  </button>
                </div>
              </form>
              <div class="col-5">
                <p>
                  <label for="" class="font-weight-bold">Nombre de tienda:</label>
                   <div class="border p-2" id="nombrePerfil">DREAMS ANGEL SHOP</div> 
                  <label for="" class="font-weight-bold">Direccion:</label>
                   <div class="border p-2" id="direccionPerfil">Del hotel JONATHAN dos cuadras al norte</div>
                  <label for="" class="font-weight-bold">Teléfono:</label>
                  <div class="border p-2" id="telefonoPerfil"></div>
                  <label for="" class="font-weight-bold" >Mensaje:</label>
                   <div class="border p-2" id="mensajePerfil">Gracias por su compra</div>
                   <div class="form-group m-2"><button class="btn btn-info btn-block" id="btnEditarPerfil">Editar</button></div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA DE DETALLES DE FACTURA -->
    <div class="row"></div>

    <!-- Footer -->
    <%- include('./pie.html') %>
  </div>
</div>
